header {
    width: 100%;
    height: 100px;
    background-color: $mygreen;
    @include center();
    nav{
        width: 80%;
        ul{
            width: 100%;
    @include center();
          
            li{
                list-style: none;
                a{
                    color: $mywhite;
                }
            }
        }
    }
}